$myred: #ee440f;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: black;
  text-decoration: none;
}
html {
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
}

.app {
  background-color: $myred;
  height: 50px;
  border: 1px solid blue;
}

.bap {
  background-color: red;
  height: 25px;
}
