/* This is a CSS reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: black;
  text-decoration: none;
  height: 100%;
}
html {
  font-size: 16px;
  overflow: hidden;
}
body {
  width: 100%;
}

/* This is a little bit of SASS */
$myred: #ee440f;

.app {
  background-color: $myred;
  height: 6em;
  margin: 2em 2em 0 2em;
  border: 3px solid blue;
}

.bap {
  background-color: red;
  height: 25px;
}
